---
---

@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';

$primary-contrast-color: #167C94; //#cc5500;
$primary-background-color: #DBF6FC;

$dark-gray-color: #555;
$medium-gray-color: #777;
$light-gray-color: #ddd;

$small-display-columns: 4;
$medium-display-columns: 12;
$large-display-columns: 12;

$small-display: new-breakpoint(max-width 519px $small-display-columns);
$medium-display: new-breakpoint(min-width 520px max-width 863px $medium-display-columns);
$large-display: new-breakpoint(min-width 864px $large-display-columns);

.wrapper {
  margin-top: 30px;
  @include outer-container;

  @include media($medium-display) {
    margin-top: 0;
  }        

  @include media($small-display) {
    margin-top: 0;
  }        
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
    }

@mixin desaturation($percentage) {
  -webkit-filter: grayscale($percentage);
  -moz-filter: grayscale($percentage);
  filter: grayscale($percentage);
}

@mixin brightness($percentage) {
  -webkit-filter: brightness($percentage);
  -moz-filter: brightness($percentage);
  filter: brightness($percentage);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin icon-list($color, $icon) {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding-left: 2em;
      padding-bottom: 0.5em;
      line-height: $base-font-size * 1.2;
      vertical-align: top;
      color: $base-font-color;
      font-family: $base-font-family;
      font-weight: 400;
      font-size: $base-font-size * 0.9;
      font-style: normal;
      min-height: 1.5em;

      a {        
        //font-weight: 700;
        //color: darken( $color, 20% );
      }
      a:after{
         border-bottom-width: 0;
      }    
    }
    li:before {
      content: $icon;
      color: $color; 
      font-family: FontAwesome; /* or whatever */
      font-size: $base-font-size * 1;
      margin-left: -2.2em;
      padding-left: 0.8em;
      width: 1.25em;
      height: 1.5em;
      float: left;
      display: block;
    }  
  }

ul.paper-icon-list {
  @include icon-list($dark-gray-color,"\f02d");
}


preamble {
  font-size: $base-font-size * 1;  
  text-align: left; 
  @include span-columns($large-display-columns);
  @include omega;
  @include border-radius(3px);
  background-color: white; //$primary-background-color;
  //border: 1px solid $primary-contrast-color;
  color: $primary-contrast-color;
  padding: 5px;
  display: block;
  background-color: transparentize($primary-background-color, 0.7);  
  margin-bottom: 40px;
}

.navigation-button {
    color: white;
    padding: 7px;
    padding-top: 8px;
    font-family: $header-font-family;
    font-weight: 400;
    font-style: normal;
    font-size: $base-font-size;
    //width: 140px;
    height: 40px;

    @include media($small-display) {
      height: 35px;
    }        

    @include media($medium-display) {
      height: 35px;
    }        

    float: left;    
    text-align: center;
    margin-right: 5px;
    transition: background-color 750ms;

    //background-color: $primary-contrast-color;

    &:hover {
      background-color: transparentize($primary-background-color, 0.8);
      //transform: scale( 1.1 );
      //transition: transform 100ms;
    }

    &:last-child {
      margin-right: 10px;
    }

    a {
      color: white;
    }

    a:hover {
      color: white;
    }
}

.navigation-button-icon {
  width: 40px;
}

.logos {
  @include span-columns(2);
  display: table;
  max-width: 150px;

  @include media($small-display) {
    @include span-columns(2);
    @include omega;
  }        

  @include media($medium-display) {
    @include span-columns(4);
    @include omega;
  }        

  //@include outer-container;
  /*
  @include span-columns(2);

  @include media($small-display) {
    @include span-columns($small-display-columns);
    @include omega;
    text-align: center;
  } 
  */       
}

.logo-image {
  display: table-cell;
}

.navigation-title {
  font-size: $base-font-size * 1.2;
  font-family: $header-font-family;
  font-weight: 400;
  color: #fff;
  float: left;
  padding: 7px;

  a {
    color: inherit;
  }  

  @include media($small-display) {
    padding-bottom: 0;    
  }          

  @include media($medium-display) {
    padding-bottom: 0;
  }
}

nav {
  background-color: $primary-contrast-color;
  @include span-columns($large-display-columns - 2);
  @include omega;

  @include border-radius(3px);

  display: block;
  height: 40px;
  margin-bottom: 10px;

  @include media($medium-display) {
    height: 70px;
    @include shift(0);
    @include span-columns($medium-display-columns);
    @include omega;
  }        

  @include media($small-display) {
    @include shift(0);
    @include span-columns($small-display-columns);
    @include omega;
    height: 70px;    
  }        
}

.navigation {
  @include outer-container;
}

.navigation-buttons {
  display: block;
  float: right;

  @include media($small-display) {
    float: left;
  }          

  @include media($medium-display) {
    clear: left;
    float: left;
  }          
}


.teaser-image {
  width: 150px;
  @include border-radius( 3px );
  @include brightness(97%);
  //@include box-shadow(0px, 0px, 1px, $primary-contrast-color);  
  border: 1px solid $primary-contrast-color;

  @include media($small-display) {
    width: 72px;
    float: left;
    //border: 0px;
    margin: 1px;
  }      
}

section {
  margin-bottom: 20px;  
  
  header { 
    margin-bottom: 10px;
    
    h1 {
      font-family: $header-font-family;
      font-weight: 400;
      font-size: $base-font-size * 1.75;
    }    

    a {
      color: $primary-contrast-color;      
      text-decoration: none;
    }
  }

  contact {
    @include span-columns($large-display-columns);
    @include omega;

    border-top: 1px dotted $medium-gray-color;
    padding-top: 1em;
    font-family: $header-font-family;
    font-size: $base-font-size * 0.9;
    color: $medium-gray-color;
    text-align: center;
    display: block;

    a {
      color: $primary-contrast-color;      
      text-decoration: none;
    }    
  }

  credits {
    @include span-columns($large-display-columns);
    @include omega;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-family: $header-font-family;
    font-size: $base-font-size * 0.9;
    color: $medium-gray-color;
    text-align: center;
    display: block;
  }

  aside { 
    @include span-columns(2);

    @include media($medium-display) {
      @include span-columns(2);
    }    

    @include media($small-display) {
      @include span-columns($small-display-columns);
      @include omega();

      @include border-radius(3px);
      background-color: transparentize($primary-background-color, 0.7);  
      margin-bottom: 0.5em;      
    }    

    font-size: $base-font-size * 1.5;
    font-weight: bold;
    text-align: center;

    a {
    color: $primary-contrast-color;      
    }

    h1 {
      font-size: $base-font-size * 1.2;
    }
  }
  
  $header-icon-width: 25px;

  article { 
    @include span-columns($large-display-columns - 2);
    @include omega;

    @include media($medium-display) {
      @include span-columns($medium-display-columns - 2);
      @include omega;
    }    

    @include media($small-display) {
      @include span-columns($small-display-columns);
      @include omega;
    }    

    word-wrap: break-word;

    margin-bottom: 40px;
    min-height: 150px;

    h1, h2, h3 {
      a {
        text-decoration: none;
      }
    } 

    h2.data-page {
        margin-top: 1em;

        a {
          color: $dark-gray-color;
        }
    }

    h1 {
      font-family: $header-font-family;
      font-weight: 400;
      font-size: $base-font-size * 1.5;
      margin-bottom: 0.4em;
    }

    h2 {
      font-family: $header-font-family;
      font-weight: 400;
      font-size: $base-font-size * 1.25;
      margin-bottom: 0.2em;
      color: $primary-contrast-color;
      .fa {
        width: $header-icon-width;
      }
    }

    h3 {
      font-family: $header-font-family;
      font-weight: 400;
      font-size: $base-font-size * 1.125;
      margin-bottom: 0.1em;
      color: $primary-contrast-color;
    }

    ul {
      @extend %default-ul;
    }
    
    a {
      color: $base-font-color;
      position: relative;
      text-decoration: underline;
      transition: background-color 500ms;    
    }
  /*
  a:after{
     position: absolute;
     left: 0px;
     bottom: 0em;
     content: '';
     width: 100%;
     border-bottom-width: 1px;
     border-bottom-style: dotted;
  }
  */
  a:hover {
    color: $base-font-color;
    background-color: $primary-background-color;
    @include border-radius(3px);
  }    

    abstract {
      font-size: $base-font-size * 0.8;
      color: $dark-gray-color;      
      display: block;      
      margin-bottom: 20px;
    }

    citation {
      display: block;
      color: $dark-gray-color;
      font-size: $base-font-size * 0.8;
      #margin-left: $header-icon-width/2 - 5;
      #padding-left: $header-icon-width/2 + 5;
      margin-bottom: 20px;
      #border-left: 6px solid transparentize($primary-contrast-color,0.7);

      a {
        color: $dark-gray-color;
        font-style: italic;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}


.menu-icon { display: none; }