@import url(http://fonts.googleapis.com/css?family=Questrial);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Questrial, helvetica, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  section article ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.wrapper {
  margin-top: 30px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

header {
  display: block;
  margin-bottom: 50px; }

preamble {
  font-size: 1em;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  color: #167c94;
  padding: 5px;
  display: block;
  background-color: rgba(219, 246, 252, 0.2);
  margin-bottom: 40px; }

.navigation-button {
  color: white;
  padding: 7px;
  padding-top: 8px;
  font-family: Questrial, helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  width: 135px;
  height: 40px;
  float: left;
  text-align: center;
  margin-right: 5px;
  transition: background-color 750ms; }
  .navigation-button:hover {
    background-color: rgba(219, 246, 252, 0.2); }
  .navigation-button:last-child {
    margin-right: 10px; }
  .navigation-button a {
    color: white; }
  .navigation-button a:hover {
    color: white; }

.navigation-button-icon {
  width: 40px; }

.logos {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .logos:last-child {
    margin-right: 0; }

.navigation-title {
  font-size: 1.2em;
  font-family: Questrial, helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  float: left;
  padding: 7px; }
  .navigation-title a {
    color: inherit; }

nav {
  background-color: #167c94;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-left: 17.05961%;
  display: block;
  height: 40px;
  margin-bottom: 20px; }

.navigation-buttons {
  display: block;
  float: right; }

.teaser-image {
  height: 150px;
  width: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-filter: brightness(97%);
  -moz-filter: brightness(97%);
  filter: brightness(97%);
  -webkit-box-shadow: 0px 0px 1px #167c94 ;
  -moz-box-shadow: 0px 0px 1px #167c94 ;
  box-shadow: 0px 0px 1px #167c94 ;
  border: 1px solid #167c94; }

section {
  margin-bottom: 20px; }
  section header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 17.05961%;
    margin-right: 0;
    margin-bottom: 10px; }
    section header:last-child {
      margin-right: 0; }
    section header h1 {
      font-family: Questrial, helvetica, sans-serif;
      font-weight: 400;
      font-size: 1.75em; }
    section header a {
      color: #167c94; }
  section aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center; }
    section aside:last-child {
      margin-right: 0; }
    section aside a {
      color: #167c94; }
    section aside h1 {
      font-size: 1.2em; }
  section article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-right: 0;
    margin-bottom: 40px; }
    section article:last-child {
      margin-right: 0; }
    section article h1 {
      font-family: Questrial, helvetica, sans-serif;
      font-weight: 400;
      font-size: 1.75em;
      margin-bottom: 0.4em; }
    section article h2 {
      font-family: Questrial, helvetica, sans-serif;
      font-weight: 400;
      font-size: 1.5em;
      margin-bottom: 0.1em;
      color: #167c94; }
      section article h2 .fa {
        width: 25px; }
    section article h3 {
      font-family: Questrial, helvetica, sans-serif;
      font-weight: 400;
      font-size: 1.25em;
      margin-bottom: 0.1em;
      color: #167c94; }
    section article a {
      color: #333333;
      position: relative;
      text-decoration: none;
      transition: background-color 500ms; }
    section article a:after {
      position: absolute;
      left: 0px;
      bottom: 0em;
      content: '';
      width: 100%;
      border-bottom-width: 1px;
      border-bottom-style: dotted; }
    section article a:hover {
      color: #333333;
      background-color: #dbf6fc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    section article abstract {
      font-size: 1em;
      display: block;
      margin-bottom: 20px; }
    section article citation {
      display: block;
      color: #555555;
      font-size: 0.8em;
      #margin-left: 7.5px;
      #padding-left: 17.5px;
      margin-bottom: 20px;
      #border-left: 6px solid rgba(22, 124, 148, 0.3); }
      section article citation a {
        color: #555555;
        font-style: italic; }
      section article citation:last-child {
        margin-bottom: 0px; }

.menu-icon {
  display: none; }
