---
layout: default
---

<div>
    <section>
      <preamble>
        Data are available for the ENCODE/modENCODE publication release for the following papers: 
      </preamble>
    </section>
</div>

<div>
  {% for page in site.pages %}
    {% if page.subproject %}
    <section>
      <header>
        <h1>{{ page.paper.title }}</h1>
      </header>
      <aside>
        <img class="teaser-image" src="{{ page.teaser | prepend: site.baseurl }}"/>
      </aside>
      <article>
        <abstract>
        {{ page.abstract }}
        </abstract>
        
        <h2><i class="fa fa-database"></i> Data</h2>
        <citation>
          View the <a href="{{ page.url | prepend: site.baseurl }}">data page</a> for this publication.
        </citation>

        <h2><i class="fa fa-book"></i> Citation</h2>
        <citation>
          {{ page.paper.authors }}, <b>{{ page.paper.title }}</b>, {{ page.paper.meta }}.
        </citation>

      </article>      
    </section>
    {% endif %}
  {% endfor %}
</div>
