---
layout: default
---

<div>
    <section>
      <preamble>
        Data are available for the ENCODE/modENCODE publication release for the following papers: 
      </preamble>
    </section>
</div>

<div>
  {% for page in site.pages %}
    {% if page.subproject %}
    <section>
      <header>
        <img class="teaser-image" src="{{ page.teaser }}"/>
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </header>
      <article>
        <abstract>
        {{ page.abstract }}
        </abstract>

        <citation>
          {{ page.paper.authors }}, <b>{{ page.paper.title }}</b>, {{ page.paper.meta }}.
        </citation>

      </article>
    </section>
    {% endif %}
  {% endfor %}
</div>
