---
layout: default
---
<div>
    <section>
      <preamble>
        Data are available for the following papers of the for the ENCODE/modENCODE publication release.
      </preamble>
    </section>

  {% for order in (1..3) %}
  {% for page in site.pages %}
    {% if page.order == order %}
    {% if page.subproject %}
    <section>
      <aside>
        <a href="{{ page.url | prepend: site.baseurl }}">
          <img class="teaser-image" src="{{ page.teaser | prepend: site.baseurl }}">
        </a>
      </aside>
      <article>
        <header>
          <h2>{{ page.paper.authors_short }}</h2>
          <h1>{{ page.paper.title }}</h1>
          <h3>{{ page.paper.meta }}.{% if page.paper.url %}&nbsp;&nbsp;<a href="{{ page.paper.url }}"><i class="fa fa-external-link"></i></a>{% endif %}</h3>
        </header>

        <h2 class="data-page"><a href="{{ page.url | prepend: site.baseurl }}"><i class="fa fa-database"></i> Data Page</a></h2>

      </article>      
    </section>
    {% endif %}
    {% endif %}    
  {% endfor %}
  {% endfor %}

    <section>
      <preamble>
        Members of the consortium have published several companion papers related to the three studies above.
      </preamble>
    </section>

  <section>
    <aside>
      <img class="teaser-image" src="{{ "/assets/images/genome_research.png" | prepend: site.baseurl }}"/>    
    </aside>
    <article>
      <header>
        <h1>Companion Papers</h1>
      </header>

      {% for order in (1..4) %}
      {% for publication_hash in site.data.publications %}
      {% assign publication = publication_hash[1] %}
      {% if publication.order == order %}
      <h2>{{ publication.journal }}</h2>
      <ul class="paper-icon-list">
        {% for paper in publication.papers %}
        <li>
          <citation>
          {{ paper.authors }}, <b>{{ paper.title }}</b>, {{ paper.meta }}.{% if paper.url %}&nbsp;<a href="{{ paper.url }}"><i class="fa fa-external-link"></i></a>{% endif %}
          {% if paper.data_url %}
            (<a href="{{ paper.data_url }}">Data</a>)
          {% endif %}
          {% if paper.software_url %}
            (<a href="{{ paper.software_url }}">Software</a>)
          {% endif %}
          </citation>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </article> 
  </section>
</div>
