<div>
<header>
  <div class="logos">
    <div class="logo-image">
      <a href="http://encodeproject.org">
        <img src="{{ "/assets/images/encode_logo.png" | prepend: site.baseurl }}"/>
      </a>
    </div>
    <div class="logo-image">
      <a href="http://modencode.org">
        <img src="{{ "/assets/images/modencode_logo.png" | prepend: site.baseurl }}"/>
      </a>
    </div>
  </div>
  <div class="navigation">
    <nav>
      <div class="navigation-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <div class="navigation-buttons">
          {% for order in (1..3) %}
          {% for page in site.pages %}
          {% if page.order == order %}
          {% if page.subproject %}
          <div class="navigation-button">
          <a href="{{ page.url | prepend: site.baseurl }}"><i class="fa fa-database"></i> {{ page.title }}</a>
          </div>
          {% endif %}
          {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
</div>
